.rect {
    fill: none;
    stroke: black;
    stroke-width: 2;
    transition: transform 0.3s ease}
  
    .rect:hover {
      fill: #ccc;
    }
  .text {
    text-anchor: middle;
  }

  .rect-group:hover .rect {
    transform: scale(1.07);
  }
  
  .rect-group:hover .recycling-bar {
    transform: scale(1.07);
  }
  